build/*
ImageMatch/*
utils/*
!ImageMatch/CMakeLists.txt
!ImageMatch/image_matching.cpp
!ImageMatch/RateAndSelect.cpp
!ImageMatch/ReIgMch.sh
!ImageMatch/Sequence.txt
!ImageMatch/SingleTest.cpp
!ImageMatch/BestMatch.txt
MH01MH02/*
Euroc_MH/*
!Euroc_MH/CMakeLists.txt
!Euroc_MH/image_matching.cpp
!Euroc_MH/RateAndSelect.cpp
!Euroc_MH/Sequence.txt
!Euroc_MH/scores.txt

Pairs/build/*
Pairs/Voc/*
Euroc_Maps/*
VocCreate/build
VocCreate/Features.dat
VocCreate/Voc_Hilti_Euroc.bow

Pairs_Hilti/build/*
Pairs_Hilti/Voc/*
Hilti_Maps/*

Pairs_VMap
Vmap_Maps/*


Euroc_Data
Euroc_Data_more
Euroc_Data_new